﻿<?xml
  version="1.0"
  encoding="utf-8"?>

<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
              android:orientation="vertical"
              android:layout_width="match_parent"
              android:layout_height="match_parent"
              android:gravity="center"
              android:background="@color/TranslucentBlack">
  <LinearLayout
    android:orientation="vertical"
    android:layout_width="wrap_content"
    android:layout_height="wrap_content"
    android:id="@+id/linearLayout1"
    android:layout_gravity="center"
    android:layout_margin="2dp"
    android:background="@drawable/borderall"
    android:padding="2dp"
    android:minWidth="400dp">
    <TextView
      android:text="Resolve Errors"
      android:textAppearance="?android:attr/textAppearanceMedium"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:background="@drawable/redgradient"
      android:gravity="center"
      android:textSize="30dp" />
    <LinearLayout
      android:orientation="vertical"
      android:minWidth="25px"
      android:minHeight="25px"
      android:layout_width="match_parent"
      android:layout_height="match_parent"
      android:id="@+id/linearLayout2"
      android:background="@drawable/bordertopblackbackground">
      <Button
        android:text="Rescan this item"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/okButton"
        android:textAllCaps="false"
        android:layout_marginTop="20dp"
        android:textSize="25dp" />
      <Button
        android:text="Cancel"
        android:layout_width="70dp"
        android:layout_height="30dp"
        android:id="@+id/cancelButton"
        android:layout_gravity="right"
        android:textSize="10dp"
        android:layout_marginTop="20dp" />
    </LinearLayout>
  </LinearLayout>
</LinearLayout>