﻿<?xml
  version="1.0"
  encoding="utf-8"?>

<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
              android:orientation="horizontal"
              android:layout_width="match_parent"
              android:layout_height="wrap_content"
              android:paddingTop="2dp"
              android:id="@+id/baseLayout">
  <LinearLayout
    android:orientation="horizontal"
    android:minWidth="25px"
    android:minHeight="25px"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:id="@+id/linearLayout7"
    android:background="@drawable/borderbottomdimgrey">
    <FrameLayout
      android:minWidth="1px"
      android:minHeight="50px"
      android:id="@+id/statusLayout"
      android:background="@drawable/pickupbar"
      android:layout_width="5dp"
      android:layout_height="match_parent" />
    <LinearLayout
      android:orientation="vertical"
      android:minWidth="25px"
      android:minHeight="25px"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:id="@+id/linearLayout5"
      android:paddingRight="5dp"
      android:layout_marginLeft="5dp"
      android:paddingBottom="10dp">
      <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:id="@+id/linearLayout3"
        android:layout_width="match_parent"
        android:layout_height="wrap_content">
        <LinearLayout
          android:orientation="vertical"
          android:minWidth="100dp"
          android:minHeight="25px"
          android:layout_width="wrap_content"
          android:layout_height="match_parent"
          android:id="@+id/linearLayout1"
          android:layout_weight="1">
          <TextView
            android:text=" Tote Id"
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/textView1"
            android:textSize="8dp"
            android:layout_gravity="top" />
          <TextView
            android:text="Tote Id"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/toteId"
            android:textSize="12dp"
            android:layout_gravity="bottom"
            android:gravity="center_vertical" />
        </LinearLayout>
        <LinearLayout
          android:orientation="vertical"
          android:minWidth="25px"
          android:minHeight="25px"
          android:layout_width="wrap_content"
          android:layout_height="match_parent"
          android:id="@+id/linearLayout2"
          android:layout_weight="1">
          <TextView
            android:text="Totes"
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/textView1"
            android:textSize="8dp"
            android:gravity="right"
            android:layout_gravity="top" />
          <TextView
            android:text="1"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/pieces"
            android:textSize="15dp"
            android:gravity="right"
            android:textColor="@color/Yellow"
            android:layout_gravity="bottom" />
        </LinearLayout>
        <LinearLayout
          android:orientation="vertical"
          android:minWidth="25px"
          android:minHeight="25px"
          android:layout_width="wrap_content"
          android:layout_height="match_parent"
          android:id="@+id/linearLayout2"
          android:layout_weight="1">
          <TextView
            android:text="Scanned"
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/textView1"
            android:textSize="8dp"
            android:gravity="right"
            android:layout_gravity="top" />
          <TextView
            android:text="0"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/scanned"
            android:textSize="15dp"
            android:gravity="right"
            android:layout_gravity="bottom" />
        </LinearLayout>
        <LinearLayout
          android:orientation="vertical"
          android:minWidth="15dp"
          android:minHeight="25px"
          android:layout_width="wrap_content"
          android:layout_height="match_parent"
          android:id="@+id/linearLayout2"
          android:layout_weight="1">
          <TextView
            android:text="Balance"
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/textView1"
            android:textSize="8dp"
            android:gravity="right"
            android:layout_gravity="top" />
          <TextView
            android:text="0"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/balance"
            android:textSize="15dp"
            android:gravity="end"
            android:textColor="@color/DarkGray"
            android:layout_gravity="bottom" />
        </LinearLayout>
      </LinearLayout>
      <LinearLayout
        android:orientation="vertical"
        android:minHeight="5dp"
        android:id="@+id/linearLayout1"
        android:layout_width="match_parent"
        android:layout_height="wrap_content">
        <TextView
          android:text="Company Name"
          android:textAppearance="?android:attr/textAppearanceSmall"
          android:layout_width="match_parent"
          android:layout_height="wrap_content"
          android:id="@+id/companyName"
          android:textSize="18dp"
          android:textColor="@color/DeepSkyBlue" />
        <LinearLayout
          android:orientation="horizontal"
          android:minWidth="25px"
          android:minHeight="25px"
          android:layout_height="wrap_content"
          android:id="@+id/linearLayout6"
          android:layout_width="match_parent">
          <TextView
            android:text="Company 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 "
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:id="@+id/companyAddress"
            android:textSize="13dp"
            android:maxLines="1"
            android:lines="1"
            android:gravity="center_vertical"
            android:ellipsize="end"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_weight="1" />
          <TextView
            android:text="xxx"
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:id="@+id/status"
            android:layout_height="wrap_content"
            android:textColor="@color/Yellow"
            android:textSize="10dp"
            android:gravity="center"
            android:minWidth="1dp"
            android:layout_gravity="right"
            android:layout_width="wrap_content" />
        </LinearLayout>
      </LinearLayout>
    </LinearLayout>
  </LinearLayout>
</LinearLayout>