<?xml version="1.0" encoding="utf-8"?>

<LinearLayout
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  android:orientation="vertical"
  android:layout_width="match_parent"
  android:layout_height="match_parent"
  android:background="@color/Black">
  <LinearLayout
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:orientation="horizontal">
    <TextView
      android:text="Satchel"
      android:textAppearance="?android:attr/textAppearanceLarge"
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:paddingLeft="10dp"
      android:layout_weight="1"
      android:id="@+id/satchelText" />
    <CheckBox
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:text="Landscape"
      android:textSize="10dp"
      android:layout_gravity="right"
      android:layout_marginRight="7dp"
      android:id="@+id/landscape" />

  </LinearLayout>
  <LinearLayout
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="fill_parent"
    android:background="@color/Black"
    android:id="@+id/closeLayout"
    android:gravity="center_vertical"
    android:padding="20dp"
    android:visibility="gone">
    <Button
      android:text="Process Manually"
      android:id="@+id/manualButton"
      android:drawableEnd="@drawable/ic_cancel_white_24dp"
      android:minWidth="25px"
      android:minHeight="25dp"
      android:layout_width="fill_parent"
      android:layout_height="wrap_content"
      android:layout_gravity="bottom|right" />
    <Button
      android:text="Discard Changes"
      android:id="@+id/discardButton"
      android:drawableEnd="@drawable/ic_cancel_white_24dp"
      android:minWidth="25px"
      android:minHeight="25dp"
      android:layout_width="fill_parent"
      android:layout_height="wrap_content"
      android:layout_gravity="bottom|right"
      android:layout_marginTop="10dp" />
    <Button
      android:text="Cancel"
      android:id="@+id/cancelCancelButton"
      android:drawableEnd="@drawable/ic_cancel_white_24dp"
      android:minWidth="25px"
      android:minHeight="25dp"
      android:layout_width="fill_parent"
      android:layout_height="wrap_content"
      android:layout_gravity="bottom|right"
      android:layout_marginTop="10dp" />
  </LinearLayout>
  <LinearLayout
    android:orientation="vertical"
    android:minWidth="25px"
    android:minHeight="25px"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:id="@+id/mainLayout"
    tools:visibility="gone"
    android:layout_weight="1">
    <LinearLayout
      android:orientation="vertical"
      android:minWidth="25px"
      android:minHeight="25px"
      android:layout_width="match_parent"
      android:layout_height="match_parent"
      android:id="@+id/linearLayout1">
      <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="horizontal"
        android:gravity="center_vertical"
        android:layout_gravity="center"
        android:id="@+id/barcodeLayout">
        <FrameLayout
          android:minWidth="25px"
          android:minHeight="40px"
          android:layout_height="wrap_content"
          android:id="@+id/scannerLoadFrame"
          android:background="@color/DarkViolet"
          android:layout_width="match_parent"
          android:layout_weight="20" />
        <CheckBox
          android:layout_width="wrap_content"
          android:layout_height="wrap_content"
          android:text="Show hidden"
          android:layout_weight="0"
          android:layout_gravity="right"
          android:layout_marginRight="5dp"
          android:textSize="10dp"
          android:id="@+id/showHidden" />
      </LinearLayout>
      <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="40dp"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_gravity="bottom"
        android:textAlignment="center"
        android:layout_weight="1">
        <ListView
          android:layout_width="match_parent"
          android:layout_height="match_parent"
          android:layout_weight="1"
          android:id="@+id/itemListView"
          tools:visibility="gone" />
        <LinearLayout
          android:layout_width="match_parent"
          android:layout_height="match_parent"
          android:layout_weight="1"
          android:id="@+id/podSignature"
          android:minWidth="25px"
          android:minHeight="25px"
          android:orientation="vertical">
          <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/podLayout"
            android:minWidth="25px"
            android:minHeight="25px"
            android:orientation="vertical">
            <TextView
              android:text="POD:"
              android:textAppearance="?android:attr/textAppearanceLarge"
              android:layout_width="match_parent"
              android:layout_height="wrap_content"
              android:paddingLeft="10dp"
              android:id="@+id/textView1"
              android:inputType="none" />
            <EditText
              android:layout_width="match_parent"
              android:layout_height="wrap_content"
              android:id="@+id/podName"
              android:hint="POD (Name)"
              android:layout_marginRight="10dp"
              android:maxLines="1"
              android:singleLine="true"
              android:imeOptions="flagNoExtractUi" />
          </LinearLayout>
          <LinearLayout
            android:orientation="horizontal"
            android:minWidth="25px"
            android:minHeight="40dp"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_gravity="bottom"
            android:textAlignment="center"
            android:id="@+id/buttonsLayout">
            <Button
              android:text="Sign"
              android:layout_width="wrap_content"
              android:layout_height="wrap_content"
              android:id="@+id/signButton"
              android:drawableRight="@drawable/ic_edit_white_24dp"
              android:longClickable="false"
              android:layout_weight="1" />
            <Button
              android:text="Accept"
              android:layout_width="wrap_content"
              android:layout_height="wrap_content"
              android:id="@+id/acceptButton"
              android:drawableRight="@drawable/ic_present_to_all_white_24dp"
              android:layout_weight="1" />
          </LinearLayout>
          <FrameLayout
            android:minWidth="25px"
            android:minHeight="40px"
            android:layout_height="wrap_content"
            android:id="@+id/signatureLoadFrame"
            android:background="@color/DarkViolet"
            android:layout_width="match_parent" />
        </LinearLayout>
        <LinearLayout
          android:orientation="horizontal"
          android:minWidth="25px"
          android:minHeight="40dp"
          android:layout_width="match_parent"
          android:layout_height="wrap_content"
          android:layout_gravity="bottom"
          android:textAlignment="center"
          android:id="@+id/navigationButtonLayout">
          <Button
            android:text="Next"
            android:id="@+id/nextButton"
            android:drawableEnd="@drawable/ic_arrow_forward_white_24dp"
            android:minWidth="25px"
            android:minHeight="25dp"
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            android:layout_weight="20"
            android:layout_gravity="bottom|left" />
          <Button
            android:text="Cancel"
            android:id="@+id/cancelButton"
            android:drawableEnd="@drawable/ic_cancel_white_24dp"
            android:minWidth="25px"
            android:minHeight="25dp"
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            android:layout_gravity="bottom|right"
            android:layout_weight="1" />
        </LinearLayout>
      </LinearLayout>
    </LinearLayout>
  </LinearLayout>
  <Button
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:text="Exit"
    android:textSize="25dp"
    android:id="@+id/exitButton"
/>
</LinearLayout>