﻿<?xml
  version="1.0"
  encoding="utf-8"?>

<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
              android:orientation="vertical"
              android:layout_width="match_parent"
              android:layout_height="match_parent"
              android:minWidth="25px"
              android:minHeight="25px">
  <LinearLayout
    android:orientation="vertical"
    android:minWidth="25px"
    android:minHeight="25px"
    android:id="@+id/linearLayout2"
    android:layout_width="match_parent"
    android:layout_height="wrap_content">
    <TextView
      android:text="Pick-up By Barcode"
      android:textAppearance="?android:attr/textAppearanceSmall"
      android:id="@+id/textView1"
      android:layout_width="wrap_content"
      android:layout_height="match_parent"
      android:layout_marginLeft="5dp" />
    <LinearLayout
      android:orientation="horizontal"
      android:minWidth="25px"
      android:minHeight="25px"
      android:id="@+id/scannerLayout"
      android:background="@color/DarkViolet"
      android:layout_width="match_parent"
      android:layout_height="wrap_content" />
    <LinearLayout
      android:orientation="horizontal"
      android:minWidth="25px"
      android:minHeight="25px"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:id="@+id/locationLayout"
      android:layout_marginTop="5dp"
      android:layout_marginBottom="10dp"
      android:background="@drawable/borderbottom">
      <TextView
        android:text="Pick-up location:"
        android:textAppearance="?android:attr/textAppearanceMedium"
        android:layout_width="wrap_content"
        android:layout_height="match_parent"
        android:paddingEnd="5dp"
        android:id="@+id/textView2"
        android:layout_marginLeft="5dp" />
      <TextView
        android:text="9999"
        android:textAppearance="?android:attr/textAppearanceMedium"
        android:layout_width="wrap_content"
        android:layout_height="match_parent"
        android:id="@+id/locationText"
        android:textStyle="bold" />
    </LinearLayout>
  </LinearLayout>
	<ListView
		android:minWidth="25px"
		android:minHeight="25px"
		android:layout_width="match_parent"
		android:layout_height="match_parent"
		android:id="@+id/pickupListView"
		android:layout_weight="1"
		android:layout_gravity="bottom" />
  <LinearLayout
    android:orientation="horizontal"
    android:minWidth="25px"
    android:minHeight="25px"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:id="@+id/linearLayout3">
    <Button
      android:text="Claim Now"
      android:layout_width="wrap_content"
      android:layout_height="match_parent"
      android:id="@+id/claimButton"
      android:layout_weight="1" />
    <Button
      android:text="Reset"
      android:layout_width="wrap_content"
      android:layout_height="match_parent"
      android:id="@+id/resetButton"
      android:layout_weight="1" />
  </LinearLayout>
</LinearLayout>